<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1071336424353-s6egeb2sggp05ie5nbij4mk107f4u6ia.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071336424353-s6egeb2sggp05ie5nbij4mk107f4u6ia</string>
	<key>API_KEY</key>
	<string>AIzaSyBnwPvEvEI_m-DtgL5SnOhjgrhIKtynacw</string>
	<key>GCM_SENDER_ID</key>
	<string>1071336424353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dipenchauhan.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-ios-051288</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-ios-051288.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071336424353:ios:a08fd2f6bfe6d71ccb41e0</string>
</dict>
</plist>